<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Automobile"

    connectionString="Data Source=SD-02-024\SQLEXPRESS;Initial Catalog=AutoMobile;Integrated Security=True"/>
  </connectionStrings>

</configuration>